.text {
    &--center {
        text-align: center;
    }
    &--right {
        text-align: right;
    }
    &--italic {
        font-style: italic;
    }
    &--white {
        color: white;
    }
}

.display {
    &--inline {
        display: inline-block;
    }
}

.width {
    &--100 {
        width: 100%;
    }
}