//libraries
@import 'crouton';
@import 'helpers';
@import 'spacings';
@import 'pure-min';
@import 'pure-responsive-grid-min';


// components
@import './components/home';

/* PAGE */

body,
.pure-g [class *= "pure-u"] {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, 
  Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

main {
  padding: 25px;
  white-space: pre-line;
}

.no--underline {
  color: inherit;
  text-decoration: inherit;
}